.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.article {
    flex: 3;
}

.nav {
    flex-grow: 1;
    flex-shrink: 0;
}

aside {
    flex-grow: 1;
    flex-shrink: 0;
}