.body-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.outer-col-1 {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

.outer-col-2 {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}

header {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

.inner-row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    overflow-y: auto;
}

aside {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

.inner-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

footer {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}